@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mix-blend-text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  mix-blend-mode: difference;
}