@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

mark.scroll-highlight {
  color: white;
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));


  animation: mark-it 1s ease-in-out forwards;
  animation-timeline: view();
  animation-iteration-count: 1;
  animation-range: contain 45% contain 60%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes mark-it {
  0% {
    background-size: 0 100%;
  }

  100% {
    background-size: 100% 100%;
  }
}